<a href="https://colab.research.google.com/github/Sarupriya1998/Data-Science-projects/blob/Data-cleaning/Data_cleaning_using_Pandas_library_on_a_given_dataset_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are given a dataset –“hotel_bookings.csv.”The dataset has a high number of null and  elements that need to be cleansed;  Your job is to create a separate DataFrame with only categorical columns and  perform the  following operations:

1.Find the number of null values in each column of the new DataFrame.

2.Replace the null values with mode. 

3.In the "hotel"column, replace the hotel names with "0" and "1" based on the condition that –if,"hotel" = "city_hotel",then "hotel"= "1";  else, "0".

4.Using the label encoder, assign a unique country code to each country.

5.Using onehot encoder, encode the month column.

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("hotel_bookings.csv")
np.random.seed(0)

In [ ]:
df.isnull().sum()

In [ ]:
df=df.drop(['company','agent'],axis=1)
df.head()

In [ ]:
cat_df=df.select_dtypes(include=['object']).copy()
cat_df.head()

In [ ]:
print(cat_df.isnull().sum())

In [ ]:
_cat_df=cat_df.fillna(cat_df['country'].mode()[0],inplace=True)
print('After replacing null values with mode:')
print(cat_df.isnull().sum())

In [ ]:
cat_df_spf=cat_df.copy()
cat_df_spf['hotel']=np.where(cat_df_spf['hotel'].str.contains('City Hotel'),1,0)
cat_df_spf.sample(10)

In [ ]:
cat_df_spf1=cat_df_spf.copy()
from sklearn.preprocessing import LabelEncoder
lb_make=LabelEncoder()
cat_df_spf1['country_code']=lb_make.fit_transform(cat_df_spf['country'])
cat_df_spf1.sample(5)

In [ ]:
cat_onehot=cat_df_spf.copy()
cat_onehot=pd.get_dummies(cat_onehot,columns=['arrival_date_month'])
print(cat_onehot.head())


2.Create a DataFrame to store exponential data using the NumPy
random() function as shown in the dataset section below, and perform
the following operations:
1. Using the minmax_scaling() function, scale the data between 0 to 1,
and plot the original data and scaled data using the Seaborn library
2. Using preprocessing.normalize() function, normalize the data, and
plot the original data and normalized data using the Seaborn library
---


---

In [ ]:
from mlxtend.preprocessing import minmax_scaling
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
np.random.seed(100)
data=np.random.exponential(size=1000)
df2=pd.DataFrame(data)
df2.head()

In [ ]:
scaled_data=minmax_scaling(df2,columns=[0])
fig,ax=plt.subplots(1,2)
sns.distplot(data,ax=ax[0])
ax[0].set_title("Original Data")
sns.distplot(scaled_data,ax=ax[1])
ax[1].set_title("Scaled data")

In [ ]:
from scipy import stats
from sklearn import preprocessing
normalized_data=preprocessing.normalize(df2)

In [ ]:
fig,ax=plt.subplots(1,2)
sns.distplot(df2[0],figax=ax[0])
ax[0].set_title("Original Data")
sns.distplot(normalized_data,ax=ax[1])
ax[1].set_title('Normalized data')