<a href="https://colab.research.google.com/github/Sarupriya1998/Data-Science-projects/blob/saru/Python_basics_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write  a  Python  program  that  takes  marks  as  input  for  six  subjects, with maximum  marks   being  600, and prints  total  marks,  average  marks,  and percentagesobtained by a student.

In [ ]:
sub = input("Enter the marks of all six subjects, one by one ::")
sub_a = float(input("Enter the marks out of 100 obtained in subject-1 : "))
sub_b = float(input("Enter the marks out of 100 obtained in subject-2 : "))
sub_c = float(input("Enter the marks out of 100 obtained in subject-3 : "))
sub_d = float(input("Enter the marks out of 100 obtained in subject-4 : "))
sub_e = float(input("Enter the marks out of 100 obtained in subject-5 : "))
sub_f = float(input("Enter the marks out of 100 obtained in subject-6 : "))
total = sub_a + sub_b + sub_c + sub_d + sub_e + sub_f
average = total/6
percentage = total/600 * 100
print ("Total marks obtained : %.2f" %total)
print ("Average marks obtained : %.2f" %average)
print ("Percentage obtained : %.2f" %percentage)

Enter the marks of all six subjects, one by one ::
Enter the marks out of 100 obtained in subject-1 : 76
Enter the marks out of 100 obtained in subject-2 : 56
Enter the marks out of 100 obtained in subject-3 : 78
Enter the marks out of 100 obtained in subject-4 : 75
Enter the marks out of 100 obtained in subject-5 : 69
Enter the marks out of 100 obtained in subject-6 : 74
Total marks obtained : 428.00
Average marks obtained : 71.33
Percentage obtained : 71.33

Declare a nested list with Exam scores and Student names as shown here -
"score=[[510, 'John'],[280, 'Lucy']……]".Write a Python program
to sort the list based on scores and print the students' names with first and
second-highest scores

In [ ]:
score = [[65,'Harshit'],[64,'Jay'],[55,'Sachin'],[558,'Vishal'],[255,'Vinay']]
score.sort()
score.reverse()
print(score)
print("Student with highest marks is :",score[0][1] )
print ("And the student with second highest marks is :",score[1][1])

[[558, 'Vishal'], [255, 'Vinay'], [65, 'Harshit'], [64, 'Jay'], [55, 'Sachin']]
Student with highest marks is : Vishal
And the student with second highest marks is : Vinay