<a href="https://colab.research.google.com/github/Sarupriya1998/Data-Science-projects/blob/Python-Pandas-library/Python_program_using_Pandas_library_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to create two lists -one for countries and another for country codes. Create a pandas series from these two lists with the codes as the index. Print the length, shape, and size of the series too.

In [ ]:
print("The series is :")
import pandas as pd
a=['India','Canada','Australia','Japan','Germany','France']
b = ['IND','CAN','AUS','JAP','GER','FRA']
series=pd.Series(a,b)
print(series)
print("Length of the series is:",len(series))
print("Shape of the series is:",series.shape)
print("Size of the series is:",series.size)

The series is :
IND        India
CAN       Canada
AUS    Australia
JAP        Japan
GER      Germany
FRA       France
dtype: object
Length of the series is: 6
Shape of the series is: (6,)
Size of the series is: 6

Write a Python program that reads Name, Age, and Roll no. as input from the user and stores it into a DataFrame,and prints the DataFrame you have created

In [ ]:
import pandas as pd
R=int(input('Enter the number of student records you want to store:'))
name=[]
age=[]
rollno=[]
for i in range(R):
  name.append(input('Enter the name:'))
  age.append(int(input('Enter the age:')))
  rollno.append(int(input('Enter the rollno:')))
b=pd.DataFrame({'Name':name,'Age':age,'Rollno':rollno})  
print("The DataFrame is-__________")
print(b)

Enter the number of student records you want to store:2
Enter the name:Charu
Enter the age:24
Enter the rollno:34
Enter the name:Maha
Enter the age:22
Enter the rollno:33
The DataFrame is-__________
    Name  Age  Rollno
0  Charu   24      34
1   Maha   22      33